<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 TRANSITIONAL//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<head>
	<title>Log In | My Blog</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<style type="text/css">
	body { padding: 0; background: #49453A; font-family: Trebuchet MS, sans-serif, Arial; }
	#login_form {
        background: #fff;
		border: 10px solid #ccc;
		padding: 1.2em 1.5em 1.2em;
		margin: 30px auto;
		width: 26em;
	}
	#login_form h1 { font-size: 1.2em; }
	#login_form input {
		font-size: 1.2em;
		padding: 2px;
		border: 1px solid #999;
		background: #eee;
	}
	#login_form input[type="password"]:focus, #login_form input[type="text"]:focus {
		background: #ffc;
		border: 1px solid #000;
	}
	#login_form input.submit {
		border: solid medium #000;
	}
	#error {
		background: #c00;
		color: #fff;
		width: 100%;
		padding: 2px;
		text-align: center;
	}
	</style>
	<script type="text/javascript">
	function focusit() {
		document.getElementById('id_username').focus();
	}
	window.onload = focusit;
	</script>

	</head>
	<body>
    <div id="login_form">
	<h1>Login to MyBlog</h1>
      <form action="." method="POST">
	  {% csrf_token %}
      <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}/{% endif %}">
    {% if form.errors %}
      <p id="error">username atau password salah.</p>
    {% endif %}
    <table cellpadding="4" width="200">
      <tr><td align="right">Username:</td><td>{{ form.username }}</td></tr>
      <tr><td align="right">Password:</td><td>{{ form.password }}</td></tr>
      <tr><td>&nbsp;</td><td><input type="submit" class="submit" name="submit" value="Login"></td></tr>
	  
      </form>
    </table>
    </fieldset>
    </div>
 	</body>
	</html>