{% extends "base.html" %}
{% block content %}
<h2>Ganti Password</h2>
<form method="post" action="." class="tabular">
<p><label>Username </label>{{ user }}</p>
<table align="center" id="list">
<tr><td>Old Password : </td><td>{{ form.old_password }}</td></tr>
<tr><td>New Password : </td><td>{{ form.new_password1}}</td></tr>
<tr><td>New Password Confirmation : </td><td>{{ form.new_password2}}</td></tr>
</table>
<p><label></label><input type="submit" value="Ganti Password" /></p>
</form>

{% for date in days %}
    {% ifchanged %}<h3>{{ date|date:"F" }}</h3>{% endifchanged %}
    <a href="{{ date|date:"M/d"|lower }}/">{{ date|date:"j" }}</a>
{% endfor %}

{% endblock %}