root
{
	padding: 0px;
	display: block;
}

body
{
	background: url(bg.jpg) repeat-y 50% 0%;
	font-family: "Lucida Sans Unicode", "Arial";
	font-size: 12px;
	color: #e3e3e3;
}


*
{
	margin: 0px;
	padding: 0px;
}

#header
{
	background: url(header-bg.jpg) repeat-x;
	width: 940px;
	height: 118px;
	margin: auto;
	display: block;
}

#header #headline
{
	height: 50px;
	padding: 0px 30px;
	line-height: 25px;
}

#headline .right
{
	float: right;
}

#headline .left ul li ul {
	position: absolute;
	visibility:hidden;
}	

#headline .left ul li:hover ul {
	visibility:visible;
	margin: 0px;
	padding: 3px 5px;
	width: 55px;
	background: #FC6105;
	display:block;
}

#headline .left ul li ul li{
	float:none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}


#headline .left ul li {
	list-style: none;
	margin: 0px;
	padding: 0px 5px;
	float: left;
}

#headline a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

#headline .right ul li
{
	display: inline;
}

#header #web-title
{
	border-top: 1px solid #6d6961;
	margin: 0px 27px;
}

#header h1
{
	display: block;
	margin: 0px 10px;
	padding-top: 15px;
	float: left;
}

#header .title
{
	font-size: 16px;
	text-align: right;
	display: block;
	margin-right: 10px;
	padding-top: 20px;
}

#holder
{
	background: #fff;
	width: 886px;
	margin: auto;
	margin-bottom: 27px;
	display: block;
	color: #000;
}

/* #col1
{
	padding: 12px 12px 0px 12px;
	background: #fff;
	min-height: 700px;
	margin-right: 218px;
	margin-bottom: 40px;
} */

#col1
{
	padding: 12px 12px 12px 12px;
	background: #fff;
	min-height: 700px;
	margin-bottom: 40px;
}

#col2
{
	padding: 12px 12px 12px 0px;
	background: #fff;
	width: 206px;
	min-height: 700px;
	float: right;
}

.banner
{
	background: #2f281e;
	min-height: 200px;
	width: 100%;
	margin-bottom: 12px;
}

.content
{
	font-family: arial;
	margin-bottom: 12px;
	text-align: justify;
}

.content .remark
{
	float: right;
	color: #ff6000;
	line-height: 22px;
}

.content h2
{
	color: #ff6000;
	/*font-size: 18pt;*/
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ff6000;
}

.content #absen a
{
	display: block;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	color: #fff;
	background: #000;
	text-decoration: none;
	text-align: center;
}

.content #absen a:hover
{
	color: #ff6000;
	
}

#list{
	color: #000;
	font-size: 12px;
	border: 2px solid #000;
	margin-bottom: 20px;
}

#list th{
	border-bottom: 2px solid #000;
}

#list a{
	text-decoration: none;
	color: #000;
}

#list a:hover{
	text-decoration: none;
	color: #ff6000;
}

#footer
{
	padding: 12px;
	background: #ff6000;
	clear: both;
	height: 30px;
	text-align:center;
}

#konten .left ul li ul {
	visibility:visible;
}	
/*
#konten .left ul li:hover ul {
	visibility:visible;
	margin: 0px;
	padding: 3px 5px;
	width: 70px;
	background: #000000;
}
*/
#konten {
	float:left;
	list-style: none;
	display:block;
	margin: 0px;
	padding: 0px;
	width: 32%;
	text-align:center;
}

#konten table{
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px 5px;
}

#konten a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	display: block;
}
#konten td{
	background-color: #ddd;
	padding: 0px;
	width:25%;
	text-align:center;
	padding: 2px;
}
#konten th{
	color: #fff;
	background-color: #000;
}