{% extends 'base.html' %}
{% block extrahead %}

<link type="text/css" href="/static/js/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
<script src="/static/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#id_kembali").datepicker({dateFormat: 'YY-mm-dd'});
});
</script>
{% endblock %}
{% block content %}<h1>Form kunjungan</h1>
<form method="post" action=".">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td>
<input type="submit" value="    OK    ">
</td>
</tr>
</table>
</form>
{% endblock %}