{% extends 'base.html' %}
{% block content %}
<h2>Welcom To My Blog</h2>
My Blog<br/>
<h2>Post</h2>
	<table id='viewpost' border=1 align="left">
	{% for post in posts %}
		
		<div style="display: none;">
		{{post.id}}
		</div>
		<h1>{{ post.header}}</h1>
		<h4>Posted By {{ post.user_id.user.username}} on {{ post.date.date}}</h4> 
		<br>
		<p>{{ post.content}}</p>
		<a href="/edit/{{post.id}}/">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/delete/{{post.id}}/">delete</a>
	{% endfor %}
	<table>

{% endblock %}