{% extends 'base.html' %}
{% block content %}<h2>Data Siswa</h2>
{% if errors != "Data Not Found" %}
<table id="list" border="0" align="center" width="100%" cellspacing="5" cellpadding="5">
	<tr>
		<th width='100px'>NIS</th>
		<th width='200px'>NAMA</th>
		<th width='76px'>KELAS</th>
		<th width='10px'>JK</th>
		<th width='10px'>HADIR</th>
		<th width='10px'>IZIN</th>
		<th width='10px'>ALFA</th>
		<th width='10px'>SAKIT</th>
	</tr>
	<tr style="text-align: center;">
		<td>0{{ sw.nis }}</td>
		<td>{{ sw.nama }}</td>
		<td>{{ sw.kelas }}-{{ sw.kelas2 }}</td>
		<td>{{ sw.jenkel }}</td>
		<td>{{ hadir }}</td>
		<td>{{ ijin }}</td>
		<td>{{ alfa }}</td>
		<td>{{ sakit }}</td>
	</tr>
</table>
{% endif %}
{% if errors == "Data Not Found" %}
{{ errors }}
{% endif %}
{% endblock %}