{% extends 'base.html' %}
{% block content %}
<h2>Welcom To My Blog</h2>
My Blog<br/>
<h2>Post</h2>
	<form method="post" action=".">
		{% csrf_token %}
		<table>
		{{ form.as_table }}
		<tr>
		<td>
		<input type="submit" value="    OK    ">
		</td>
		</tr>
		</table>
		</form>
{% endblock %}